<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
<%- include(pageType + '/head') %>
</head>
<body ng-app="mean">
	<section ng-view class="main-section"></section>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

<%- include(pageType + '/footer') %>
</body>
</html>